[submodule "earthstar-foyer"]
	path = earthstar-foyer
	url = git@github.com:jimpick/earthstar-foyer.git
[submodule "earthstar-pub"]
	path = earthstar-pub
	url = git@github.com:earthstar-project/earthstar-pub.git
